
body {
    background-color: azure;
}

#nav {
    background-color: white;
}

#cont {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

#cont>h2 {
    text-align: center;
    margin: 50px;
}

#cont>div:first-child {
    display: flex;
    justify-content: space-between;
}

#cont>div:last-child>div {
    height: 300px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
}

#cont>div:last-child>div img {
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#cont>div:last-child>div>div {
    padding: 30px;
    width: 60%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

#a {
    grid-column-start: 1;
    grid-column-end: 3;
}

#b {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#c {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#g {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

#f {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#d {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#e {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}

select {
    width: 48%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border-color: aquamarine;
    font-size: 20px;
    color: rgb(10, 205, 140);
}

@media all and (min-width:768px) and (max-width:1024px) {
    #cont>div:last-child>div>div{
        column-gap: 0px;
    }
    #g{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #cont{
        width: 85%;
    }
}

@media all and (min-width:320px) and (max-width:767px) {
    #cont>div:last-child>div{
        display: block;
        height: 530px;
        
    }
    #cont>div:last-child>div img{
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        height: 270px;
    }
    #cont>div:last-child>div div{
        width: 100%;
    }
    #g{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #cont{
        width: 85%;
    }
}
